

* {
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

nav a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

ul {
    list-style: none;
}

header nav {
    display: none;
}

.show {
    display: block;
    position: absolute;
    top: 64px;
    background: white;
    width: 100%;
    left: 0;
    height: calc(100vh - 64px);
    text-align: center;
    line-height: 3rem;
}

.show ul{
  padding: 0;
}

.overflow{
  overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding-left: 1rem;
    padding-right: 1rem;
}

button {
    background: transparent;
    border: none;
}

#hero {
    background-image: url("img/intro.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: #fff;
    color: #374A67;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 5px;
    border: 2px;
    border-color: #374A67;
    border-style: solid;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.4s ease;
    margin-top: 1rem;
    display: inline-block;
}

.button:hover {
    color: #fff;
    background-color: #374a67;
    border-color: #fff;
}

#rezepte {
    text-align: center;
}

.card a {
    text-decoration: none;
    color: black;
}

.card p a {
    color: #b2b2b2 padding: 1rem;
}

.card img {
    width: 100%;
}

.card {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 1rem;
    margin: 1rem;
}

.button.button-blue {
    color: #fff;
    background-color: #374a67;
    border-color: #fff;
    display: block;
    margin: 1rem;
}

.button.button-blue:hover {
    color: #374a67;
    background-color: #fff;
    border-color: #374a67;
}

.email{
    border-radius: 5px;
    padding: 1rem;
}

#newsletter {
    background: #04122b;
    color: white;
    text-align: center;
    padding: 1rem;
}

#abo {
    display: inline-block;
}

#ueberschrift{

    font-size: 15px;
    font-weight: normal;
}

#socialmedia{


}



#socialmedia ul{
  display: flex;
  justify-content: center;
  padding: o;
}

#socialmedia li{
  margin-left: 1rem;
  font-size: 2rem;
}


#legal{
text-align: center;
  }




@media (min-width: 1024px) {
    header nav {
        display: block;
    }

    header button {
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-right: 16px;
    }

    header {
        padding-left: 5%;
        padding-right: 5%;
    }

    .row {
        display: flex;
}
        .card{
          margin: 1rem;
  }

    #footer{
        display: flex;
        justify-content: space-between;
        padding: 5%;
    }
}
